/* VARIABLES */
:root {
  --main-body-color:#ffffff;
  --main-bgcolor-white:#fff;
  --main-bghero-white:#fff;
  --main-color-black:#000;
  --main-color-f5:#f5f5f5;
  --main-color-green: #299764;
  --main-color-hover-green:#077743;
  --main-color-55:#555555;
  --main-bordercolor:#e5e7ea;
  --main-border-boottom-color:#e5e7ea;
  --main-color-google: #4285f4;
  --main-rgbcolor:linear-gradient(90deg, #EA4335 19.83%, #FBBC05 65%, #34A853 82.29%, #4285F4 100%);
  --main-ldginstagram: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
  --main-footercolor-white:#fff;
  --main-invalid: #ff3b30;
}

.dark {
  --main-body-color:#1C1C1C;
  --main-bgcolor-white:#1c1c1c;
  --main-color-black:#fff;
  --main-color-f5:#272727;
  --main-color-green: #299764;
  --main-color-55:#fff;
  --main-bordercolor:#333333;
  --main-border-boottom-color: #333333;
  --main-footercolor-white:#000;
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff");
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-500.woff") format("woff");
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-600.woff") format("woff");
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background-color: darkcyan;
  color: gold;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  overflow-x: hidden;
  background-color: var(--main-body-color);
}

body.body-js {
  overflow: hidden;
}

.site-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  padding: 20px 0;
}

.header__logo-burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 150px;
  width: 100%;
  height: 40px;
}

.header__burger {
  background-image: url("../images/burger-open.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 40px;
  height: 22px;
  border: none;
  outline: none;
}

.header__close {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.header__close-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #f5f5f5;
  border-radius: 100px;
}

.header__close-btn {
  background-image: url("../images/close-burger.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 8px;
  height: 8px;
  border: none;
  outline: none;
}

.header__info {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  max-width: 350px;
  width: 100%;
  height: 100%;
  padding: 20px 20px 0;
  box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.15);
  background-color: var(--main-bgcolor-white);
  transform: translateX(150%);
  transition: 0.7s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  transform: translateX(150%);
  transition: 0.5s ease;
}

.overlay.shownav {
  transform: translateX(0);
}

.header__info.shownav {
  transform: translateX(0);
}

.header__list {
  padding-left: 0;
  list-style: none;
}

.header__link {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-color-black);
  text-decoration: none;
}

.header__item {
  margin-bottom: 32px;
}

.link__list {
  padding-left: 0;
  list-style: none;
}

.link__inker {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-color-55);
  text-decoration: none;
}

.link__item:nth-of-type(1) {
  margin-top: 20px;
  margin-bottom: 16px;
}

.link__item:nth-of-type(3) {
  margin-top: 16px;
}

.header__dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  margin-right: 16px;
  background-color: var(--main-color-f5);
  border-radius: 100px;
  cursor: pointer;
}

.header__login {
  position: absolute;
  bottom: 0;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.header__dark-btn {
  background-image: url("../images/light-mode.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.header__dark:hover .header__dark-btn {
  background-image: url("../images/light-hover.svg");
}

.dark .header__dark:hover .header__dark-btn {
  background-image: url("../../images/dark-icon.svg");
}

.header__dark:active .header__dark-btn {
  background-image: url("../images/ligt-active.svg");
}

.header__dark:active {
  background-color: var(--main-color-green);
}

.header__dark-btn.shownav {
  background-image: url("../images/dark-icon.svg");
  width: 20px;
  height: 20px;
}

.header__login-regis {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 18px 30px;
  background-color: var(--main-color-green);
  color: #fff;
  border-radius: 100px;
  text-decoration: none;
  transition: 0.5s;
}

.header__login-regis:hover {
  background-color: var(--main-color-hover-green);
}

.header__login-regis:hover {
  background-color: var(--main-color-hover-green);
}

.header__login-icon {
  margin-left: 10px;
}

.header__login-tel {
  display: none;
}

.dropdown {
  display: none;
}

.line {
  border-bottom: 1.5px solid var(--main-border-boottom-color);
  margin-bottom: 20px;
}

@media only screen and (min-width: 794px) {
  .header {
    padding: 27px 0;
  }
  .header__info {
    max-width: 475px;
    padding: 33px 24px 0 30px;
  }
  .header__link {
    font-size: 28px;
    line-height: 34px;
  }
  .header__item {
    margin-bottom: 52px;
  }
  .header__tel {
    display: none;
  }
  .header__login-tel {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-right: 51px;
    color: var(--main-color-black);
    text-decoration: none;
  }
  .header__close {
    margin-bottom: 78px;
  }
}
@media only screen and (min-width: 1207px) {
  .header__info {
    display: flex;
    position: static;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    max-width: max-content;
    transform: translateX(0);
  }
  .header__wrapper {
    display: flex;
  }
  .header__burger {
    display: none;
  }
  .overlay {
    display: none;
  }
  .header__item {
    margin-bottom: 0;
  }
  .link__list {
    display: none;
  }
  .header__close {
    display: none;
  }
  .header__login {
    position: static;
    margin-bottom: 0;
    margin-left: 180px;
  }
  .header__login-tel {
    margin-right: 24px;
  }
  .header__item {
    position: relative;
    margin-right: 32px;
  }
  .header__item:nth-of-type(2) {
    margin-right: 62px;
  }
  .header__item:nth-of-type(2)::before {
    position: absolute;
    right: -20px;
    top: 8px;
    background-image: url("../images/dropdown-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 10px;
    transition: 0.5s;
    content: "";
  }
  .dark .header__item:nth-of-type(2)::before {
    background-image: url("../images/arrow-activ-header.svg");
  }
  .dark .header__item:nth-of-type(3)::before {
    background-image: url("../images/arrow-activ-header.svg");
  }
  .header__item:nth-of-type(2):hover::before {
    transform: rotate(180deg);
  }
  .header__item:nth-of-type(3):hover::before {
    transform: rotate(180deg);
  }
  .header__item:nth-of-type(3)::before {
    position: absolute;
    right: -20px;
    top: 8px;
    background-image: url("../images/dropdown-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 10px;
    transition: 0.5s;
    content: "";
  }
  .dropdown {
    position: absolute;
    z-index: 999;
    width: 140px;
    padding-left: 0;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 10px;
    list-style: none;
    background-color: var(--main-bgcolor-white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: none;
  }
  .dropdown-two {
    padding-bottom: 0;
  }
  .header__item:hover .dropdown {
    display: block;
  }
  .dropdown__item {
    margin-bottom: 36px;
  }
  .dropdown__item:nth-of-type(3) {
    margin-bottom: 0;
  }
  .dropdown__link-contact {
    margin-bottom: 0;
  }
  .dropdown__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 12px 15px;
    color: var(--main-color-black);
    text-decoration: none;
    transition: 0.5s;
  }
  .dropdown__link:hover {
    background-color: var(--main-color-f5);
    border-radius: 100px;
  }
  .dropdown__link:active {
    background-color: var(--main-color-green);
    color: #fff;
  }
  .header__list {
    display: flex;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .header__link {
    font-size: 18px;
    line-height: 22px;
  }
  .header__logo {
    margin-right: 36px;
  }
}
.hero {
  position: relative;
}

.hero__carusel-block {
  width: 100%;
  margin: 0px 0px 40px 0px;
  max-width: 1200px;
  height: 500px;
  border-radius: 18px;
  padding-top: 60px;
  background-image: url("../images/hero_malibu.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.hero-carusel-slike-activ {
  background-image: url("../images/hero__ford.png");
}

.hero-carusel-slike-act {
  background-image: url("../images/hero_gelik.png");
}

.hero__carusel__block-title {
  width: 256px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.hero__carusel__block-text {
  width: 416px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.hero__carusel__block-form {
  position: absolute;
  bottom: 0px;
  right: 30%;
  left: 30%;
  content: "";
}

.hero__carusel-lable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 4px 2px 4px 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.hero__carusel__input {
  max-width: 600px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
  outline: none;
  border: none;
}

.hero__carusel__svg-block {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  text-align: center;
  background-color: #299764;
  padding: 20px;
}

.hero__inner-block {
  margin-top: 100px;
  margin-bottom: 24px;
  width: 100%;
}

.hero__inner__block__title {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  max-width: 568px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: var(--main-color-black);
}

.hero__inner__block-text {
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--main-color-55);
}

.hero__inner__block-butten {
  width: 100%;
  text-align: center;
}

.hero__inner__block-btn-Compact {
  width: 150px;
  margin-right: 16px;
  padding: 19px 40px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: #FFFFFF;
  border: 1.5px solid #E5E7EA;
  color: #333;
  cursor: pointer;
}

.hero__inner__block-btn-Sports {
  width: 173px;
  margin-right: 16px;
  padding: 19px 30px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: #FFFFFF;
  border: 1.5px solid #E5E7EA;
  color: #333;
  cursor: pointer;
}

.hero__inner__block-btn-Vans {
  width: 119px;
  padding: 19px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: #FFFFFF;
  color: #333;
  border: 1.5px solid #E5E7EA;
  border-radius: 100px;
  cursor: pointer;
}

.hero__inner__compact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.hero__inner__compact-item {
  width: 100%;
  max-width: 387px;
  margin-bottom: 20px;
  padding: 30px 0px;
  background-color: var(--main-color-f5);
  border-radius: 16px;
  list-style-type: none;
  cursor: pointer;
}

.hero__inner__compact-item:hover {
  background-color: var(--main-color-green);
  transition: 0.5s;
}

.hero__inner__compact-item:hover .hero__inner__compact-title {
  color: var(--main-bghero-white);
}

.hero__inner__compact-item:hover .hero__inner__compact-text {
  color: var(--main-bghero-white);
}

.hero__inner__compact-item:hover .hero__inner__compact__service-seats {
  color: var(--main-bghero-white);
}

.hero__inner__compact-title-block {
  padding: 0 24px;
}

.hero__inner__compact-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-color-black);
}

.hero__inner__compact-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-color-55);
}

.hero__inner__compact-img {
  margin-top: 16px;
  max-width: 387px;
  width: 100%;
}

.hero__inner__compact__service {
  display: flex;
  flex-wrap: wrap;
  padding: 0 24px;
}

.hero__inner__compact__service-seats {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-color-black);
}
.hero__inner__compact__service-seats:nth-child(1) {
  margin-right: 68px;
  margin-bottom: 24px;
}
.hero__inner__compact__service-seats:nth-child(2) {
  margin-bottom: 24px;
}
.hero__inner__compact__service-seats:nth-child(3) {
  margin-right: 56px;
}

.hero__inner__compact__icon {
  color: #333;
}

.hero-js-icon {
  color: #fff;
}

.hero__inner__compact-link-block {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 160px;
  text-align: center;
}

.hero__inner__compact-link {
  display: block;
  text-decoration: none;
  width: 173px;
  margin: 0 auto;
  padding: 18px 30px;
  background: #299764;
  color: #fff;
  border-radius: 100px;
}

.hero__inner__compact__icon {
  margin-right: 15px;
}

.hero__inner__list-ports {
  display: none;
}

.hero__inner__list-Vans {
  display: none;
}

.slick-prev, .slick-next {
  display: none !important;
  transition: 0.5s;
}

.slick-next:hover::before {
  background-image: url("../images/right-arrow-hover.svg");
}

.slick-next:active {
  background-color: #299764 !important;
}

.slick-prev:active {
  background-color: #299764 !important;
}

.slick-prev:hover::before {
  background-image: url("../images/hero-left-arrow.svg");
}

.slick-dots {
  top: 71%;
  left: -1%;
}

.slick-dots li button:before {
  content: none;
}

.slick-dots li button {
  width: 8px;
  height: 8px;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 100px;
  transition: 0.5s;
}

.slick-dots li button:focus {
  width: 30px;
  opacity: 1;
}

.slick-dots li {
  margin: 0 8px;
}

@media only screen and (max-width: 1207px) {
  .hero__inner__compact-list {
    justify-content: space-around;
  }
  .hero__inner__compact-item {
    margin: 0px 5px 20px 5px;
  }
}
@media only screen and (max-width: 1120px) {
  .hero__carusel-block {
    width: 100%;
    margin: 0px 0px 40px 0px;
    max-width: 1120px;
    height: 500px;
    border-radius: 18px;
    padding-top: 60px;
    background-image: url("../images/hero_malibu.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
  }
  .hero-carusel-slike-activ {
    background-image: url("../images/hero__ford.png");
  }
  .hero-carusel-slike-act {
    background-image: url("../images/hero_gelik.png");
  }
  .hero__carusel__block-title {
    width: 256px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
  }
  .hero__carusel__block-text {
    width: 416px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__carusel__block-form {
    position: absolute;
    bottom: 0px;
    right: 10%;
    left: 10%;
    content: "";
  }
  .hero__carusel-lable {
    padding: 4px 2px 4px 30px;
  }
  .hero__carusel__input {
    max-width: 600px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #555555;
    outline: none;
    border: none;
  }
  .hero__carusel__svg-block {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    text-align: center;
    background-color: #299764;
    padding: 20px;
  }
}
@media only screen and (min-width: 630px) {
  .slick-dots {
    top: 79%;
  }
}
@media only screen and (min-width: 826px) {
  .slick-prev, .slick-next {
    display: block !important;
    position: absolute;
    z-index: 2;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 100px;
  }
  .slick-prev {
    left: 87%;
    top: 445px !important;
  }
  .slick-prev::before {
    position: absolute;
    top: 14px;
    left: 15px;
    width: 5px;
    height: 8px;
    background-image: url(../images/hero-left-arrow.svg);
    content: "";
  }
  .slick-next::before {
    position: absolute;
    top: 14px;
    left: 15px;
    width: 5px;
    height: 8px;
    background-image: url(../images/hero-rigth-arrow.svg);
    content: "";
  }
  .slick-next {
    top: 445px !important;
    right: 3%;
  }
  .slick-next:hover {
    background-color: #fff;
  }
  .slick-prev:hover {
    background-color: #fff;
  }
  .slick-next:focus {
    background-color: #fff;
  }
  .slick-prev:focus {
    background-color: #fff;
  }
  .slick-dots {
    top: 80%;
    left: -40%;
  }
}
@media only screen and (min-width: 950px) {
  .slick-next {
    right: 4% !important;
  }
}
@media only screen and (min-width: 1207px) {
  .slick-prev {
    left: 89.5% !important;
  }
  .slick-next {
    right: 3% !important;
  }
  .slick-dots {
    top: 81%;
    left: -42%;
  }
}
@media only screen and (max-width: 630px) {
  .hero__carusel-block {
    width: 100%;
    margin: 0px 0px 40px 0px;
    max-width: 600px;
    height: 300px;
    border-radius: 18px;
    padding-top: 60px;
    background-image: url("../images/hero_malibu.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
  }
  .hero__carusel__block-title {
    width: 171px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }
  .hero__carusel__block-text {
    width: 283px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__carusel__block-form {
    position: absolute;
    bottom: 0px;
    right: 2%;
    left: 2%;
    content: "";
  }
  .hero__carusel__input {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #555555;
    outline: none;
    border: none;
  }
  .hero__carusel__svg-block {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    text-align: center;
    background-color: #299764;
    padding: 18px;
  }
  .hero__inner__block__title {
    text-align: center;
    max-width: 232px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--main-color-black);
  }
  .hero__inner__block-text {
    max-width: 321px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--main-color-55);
  }
  .hero__inner__block-btn-Compact {
    max-width: 106px;
    padding: 14px 20px;
    margin-right: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
  .hero__inner__block-btn-Sports {
    max-width: 119px;
    padding: 14px 10px;
    margin-right: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    width: 600px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #555555;
    outline: none;
    border: none;
  }
  .hero__carusel__svg-block {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    text-align: center;
    background-color: #299764;
    padding: 18px;
  }
  .hero__inner__block__title {
    text-align: center;
    max-width: 232px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
  .hero__inner__block-text {
    max-width: 321px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #555555;
  }
  .hero__inner__block-btn-Compact {
    width: 600px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #555555;
    outline: none;
    border: none;
  }
  .hero__inner__block-btn-Sports {
    max-width: 106px;
    padding: 14px 20px;
    margin-right: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
  .hero__inner__block-btn-Sports {
    max-width: 119px;
    padding: 14px 10px;
    margin-right: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
  .hero__inner__block-btn-Vans {
    max-width: 75px;
    padding: 14px 20px;
    margin-right: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}
.hero__inner__block-btn-Vans {
  max-width: 75px;
  padding: 14px 20px;
  margin-right: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.cars {
  padding: 62px 0 100px;
}

.cars__wrapper {
  max-width: 575px;
  width: 100%;
  margin: 0 auto;
}

.cars__title {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 6px;
  color: var(--main-color-black);
}

.cars__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--main-color-55);
}

.cars__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin-bottom: 16px;
}

.cars__item {
  margin-right: 14px;
}

.cars__item:nth-of-type(3) {
  margin-right: 0;
}

.cars__item--active .cars__link {
  background-color: var(--main-color-green);
  color: var(--main-bgcolor-white);
}

.cars__panel {
  display: none;
}

.cars__panel--active {
  display: block;
}

.cars__link {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  padding: 14px 20px;
  color: var(--main-color-black);
  border: 1.5px solid var(--main-bordercolor);
  border-radius: 100px;
  text-decoration: none;
}

.cars__panel-list {
  padding-left: 0;
  list-style: none;
}

.cars__panel-item {
  max-width: 358px;
  width: 100%;
  margin: 0 auto 10px;
  padding: 24px 20px;
  background-color: var(--main-color-f5);
  border-radius: 16px;
  transition: 0.5s;
  cursor: pointer;
}

.cars__panel-item:hover {
  background-color: var(--main-color-green);
}

.cars__panel-item:hover .cars__panel__title {
  color: var(--main-bgcolor-white);
}

.cars__panel-item:hover .cars__panel__text {
  color: var(--main-bgcolor-white);
}

.cars__panel-item:hover .cars__panel-year {
  color: var(--main-bgcolor-white);
}

.cars__panel-item:hover .cars__panel-automatic {
  color: var(--main-bgcolor-white);
}

.cars__panel-item:hover .cars__year-text::before {
  background-image: url("../images/User.svg");
}

.cars__panel-item:hover .cars__year-text:nth-of-type(2):before {
  background-image: url("../images/Year.svg");
}

.cars__panel-item:hover .cars__automatic-text::before {
  background-image: url("../images/automatic.svg");
}

.cars__panel-item:hover .cars__automatic-text:nth-of-type(2):before {
  background-image: url("../images/petrol.svg");
}

.cars__panel-img {
  max-width: 358px;
  width: 100%;
  margin: 0 auto 10px;
}

.cars__panel__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--main-color-black);
}

.cars__panel__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--main-color-55);
}

.cars__panel-wrapper {
  display: flex;
}

.cars__panel-year {
  margin-right: 58px;
  color: var(--main-color-black);
}

.cars__panel-automatic {
  margin-left: 24px;
  color: var(--main-color-black);
}

.cars__year-text {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: 26px;
}

.cars__automatic-text {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 24px;
}

.cars__automatic-text:nth-of-type(2) {
  margin-bottom: 0;
}

.cars__automatic-text::before {
  position: absolute;
  top: 1px;
  left: -26px;
  background-image: url("../images/cars-automatic.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  content: "";
}

.cars__automatic-text:nth-of-type(2):before {
  position: absolute;
  top: 1px;
  left: -26px;
  background-image: url("../images/cars-fuel.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  content: "";
}

.cars__year-text::before {
  position: absolute;
  top: 1px;
  left: -26px;
  background-image: url("../images/cars-seats.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  content: "";
}

.cars__year-text:nth-of-type(2)::before {
  background-image: url("../images/cars-years.svg");
}

.cars__year-text:nth-of-type(2) {
  margin-bottom: 0;
}

.cars__link-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.cars__link-btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 18px 30px;
  background-color: var(--main-color-green);
  color: var(--main-bgcolor-white);
  border-radius: 100px;
  text-decoration: none;
}

.cars__link-btn:hover {
  color: var(--main-bgcolor-white);
}

@media only screen and (min-width: 600px) {
  .cars__title {
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (min-width: 794px) {
  .cars {
    padding: 87px 0 120px;
  }
  .cars__title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  .cars__text {
    font-size: 16px;
    line-height: 24px;
  }
  .cars__list {
    margin-bottom: 24px;
  }
  .cars__link {
    padding: 19px 40px;
  }
  .cars__panel-list {
    display: flex;
    flex-wrap: wrap;
  }
  .cars__panel-item {
    max-width: 375px;
    width: 100%;
    padding: 30px 24px;
    margin-bottom: 20px;
  }
  .cars__panel-item:nth-of-type(5) {
    margin-bottom: 0;
  }
  .cars__panel-item:nth-of-type(6) {
    margin-bottom: 0;
  }
  .cars__panel__title {
    font-size: 24px;
    line-height: 29px;
  }
  .cars__panel__text {
    font-size: 16px;
    line-height: 17px;
  }
  .cars__panel-img {
    max-width: 387px;
  }
}
@media only screen and (min-width: 1164px) {
  .cars__panel-item {
    max-width: 387px;
  }
}
@media only screen and (min-width: 1200px) {
  .cars__panel-list {
    justify-content: space-between;
  }
  .cars__panel-item {
    margin-left: 0;
    margin-right: 8px;
  }
  .cars__panel-item:nth-of-type(4) {
    margin-bottom: 0;
  }
  .cars__link-button {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1230px) {
  .cars {
    padding: 100px 0 160px;
  }
  .cars__panel-item {
    margin-right: 0;
  }
}
.community {
  background-color: var(--main-color-f5);
  padding: 30px 0;
}

.community__network {
  max-width: 794px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 20px;
  background-color: var(--main-bgcolor-white);
  border-radius: 16px 16px 0 0;
}

.community__list {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0 auto;
}

.community__cards {
  max-width: 794px;
  width: 100%;
  padding: 20px 10px 20px 16px;
  background-color: var(--main-color-green);
  border-radius: 0 0 16px 16px;
}

.community__item {
  max-width: 326px;
  width: 100%;
  height: 380px;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
  padding: 16px;
  background-color: var(--main-bgcolor-white);
  border-radius: 16px;
}

.community__desc {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.community__desc::after {
  position: absolute;
  top: 0;
  right: -12px;
  width: 42px;
  height: 42px;
  background-image: url("../images/socials.svg");
  background-repeat: no-repeat;
  content: "";
}

.community__desc-info {
  margin-left: 12px;
}

.community__desc-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin-bottom: 5px;
  color: var(--main-color-black);
}

.community__desc-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 0;
  color: var(--main-color-55);
}

.community__item-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  height: 160px;
  margin-bottom: 32px;
  color: var(--main-color-black);
}

.community__border {
  border: 1.5px solid var(--main-bordercolor);
  background-color: var(--main-bordercolor);
  margin-bottom: 26px;
}

.community__item-star {
  display: flex;
  align-items: center;
}

.community__star-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-right: 17px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--main-color-black);
}

.community__star-img {
  display: flex;
}

.community__star-img img {
  margin-right: 8px;
}

.community__star-img img:nth-of-type(5) {
  margin-right: 0;
}

.community__cards-line {
  display: flex;
  max-width: 326px;
  width: 100%;
  height: 4px;
  background-color: #7fc1a2;
  border-radius: 10px;
}

.community__cards-span {
  display: inline-block;
  max-width: 140px;
  width: 100%;
  height: 4px;
  background-color: #fff;
}

.community__link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
  margin-left: 28px;
  color: var(--main-color-google);
  text-decoration: none;
}

.community__link::before {
  position: absolute;
  top: 0;
  left: -28px;
  width: 20px;
  height: 20px;
  background-image: url("../../images/Google.svg");
  background-repeat: no-repeat;
  content: "";
}

.community__title {
  font-size: 38px;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 30px;
  color: var(--main-color-black);
}

.community__line {
  max-width: 794px;
  width: 100%;
  height: 2px;
  margin-bottom: 30px;
  background: var(--main-rgbcolor);
  transform: rotate(0deg);
}

.community__more-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 16px;
  color: var(--main-color-55);
}

.community__more-inst {
  display: inline-block;
  background-image: url("../images/Button.svg");
  background-repeat: no-repeat;
  width: 194px;
  height: 60px;
  transition: 0.5s;
  cursor: pointer;
}

.community__more-inst:hover {
  background-image: url("../../images/ButtonHover.svg");
}

@media only screen and (min-width: 826px) {
  .community__network {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 30px 44px 30px 24px;
  }
  .community__cards-line {
    max-width: 546px;
    margin-left: 24px;
  }
  .community__cards-span {
    max-width: 212px;
  }
  .community__cards {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
  }
  .community__line {
    transform: rotate(0deg);
    background: radial-gradient(90deg, #EA4335 19.83%, #FBBC05 65%, #34A853 82.29%, #4285F4 100%);
    max-width: 2px;
    width: 100%;
    height: 108px;
  }
  .community__info {
    max-width: 320px;
    width: 100%;
  }
  .community__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 0;
  }
  .community__item {
    max-width: 420px;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 47px;
  }
  .community__list .slick-prev {
    top: 425px !important;
  }
  .community__list .slick-next {
    top: 425px !important;
  }
}
@media only screen and (min-width: 1230px) {
  .community {
    padding: 100px 0;
  }
  .community__wrapper {
    display: flex;
  }
  .community__item {
    padding: 24px;
    height: 360px;
  }
  .community__network {
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
    padding: 70px;
    border-radius: 16px 0 0 16px;
  }
  .community__line {
    max-width: 330px;
    height: 2px;
    transform: rotate(0deg);
  }
  .community__cards {
    max-width: 730px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0 16px 16px 0;
    padding: 60px 0;
  }
  .community__title {
    font-size: 38px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  .community__list .slick-prev {
    top: 410px !important;
    left: 85% !important;
  }
  .community__list .slick-next {
    top: 410px !important;
  }
}
.brand {
  padding: 100px 0;
}

.brand__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 24px;
  color: var(--main-color-black);
}

.brand__list {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand__list .slick-prev {
  display: none !important;
}

.brand__list .slick-next {
  display: none !important;
}

.brand__item {
  margin-right: 10px;
  margin-left: 10px;
}

.brand__item-img {
  width: 100px;
  height: 28px;
  object-fit: cover;
}

@media only screen and (min-width: 794px) {
  .brand {
    padding: 120px 0;
  }
  .brand__item-img {
    width: 140px;
    height: 40px;
    object-fit: cover;
  }
  .brand__item {
    margin-right: 25px;
    margin-left: 25px;
  }
  .brand__title {
    margin-bottom: 34px;
    line-height: 29px;
  }
}
@media only screen and (min-width: 1230px) {
  .brand__list {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .brand__item {
    margin-right: 33px;
    margin-left: 33px;
  }
  .brand__item:nth-of-type(1) {
    margin-left: 0;
    margin-right: 0;
  }
  .brand__item:nth-of-type(6) {
    margin-right: 0;
  }
}
.service {
  margin: 0 auto;
  padding: 100px 0;
}

.service-title {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  max-width: 377px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: var(--main-color-black);
}

.service-text {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
  max-width: 648px;
  color: var(--main-color-black);
}

.service-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 590px;
  width: 100%;
  margin-bottom: 20px;
  padding: 40px 44px 40px 32px;
  background-color: var(--main-color-f5);
  border-radius: 20px;
  cursor: pointer;
}

.service-item:hover {
  background-color: var(--main-color-hover-green);
  transition: 0.5s;
}

.service-item:hover .service__item-title {
  color: var(--main-bghero-white);
}

.service-item:hover .service__item-text {
  color: var(--main-bghero-white);
}

.service__item-block {
  width: 100%;
  max-width: 354px;
}

.service__item-title {
  width: 100%;
  max-width: 288px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: var(--main-color-black);
}

.service__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color-55);
}

.service__item-img {
  width: 50px;
  height: 45px;
}

@media only screen and (max-width: 1218px) {
  .service {
    padding: 160px 0;
  }
  .service-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .service-item {
    padding: 40px 24px 40px 24px;
    justify-content: space-between;
    max-width: 500px;
  }
  .service__item-block {
    width: 100%;
    max-width: 304px;
  }
  .service__item-title {
    font-size: 22px;
    line-height: 29px;
  }
  .service__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .service__item-img {
    width: 50px;
    height: 45px;
  }
}
@media only screen and (max-width: 1038px) {
  .service-title {
    max-width: 377px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
  .service-text {
    max-width: 684px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .service-item {
    padding: 30px 24px 30px 24px;
    max-width: 387px;
  }
  .service__item-block {
    width: 100%;
    max-width: 354px;
  }
  .service__item-title {
    max-width: 252px;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
  }
  .service__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .service__item-img {
    width: 32px;
    height: 30px;
  }
}
@media only screen and (max-width: 820px) {
  .service {
    padding: 120px 0;
  }
  .service-item {
    padding: 30px 24px 30px 24px;
    max-width: 687px;
  }
}
@media only screen and (max-width: 495px) {
  .service-title {
    max-width: 251px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  .service-text {
    max-width: 321px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }
  .service-item {
    max-width: 358px;
  }
  .service__item-block {
    width: 100%;
    max-width: 354px;
  }
  .service__item-title {
    max-width: 244px;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
  }
  .service__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .service__item-img {
    width: 32px;
    height: 30px;
  }
}
.service__inner-block {
  width: 100%;
  max-width: 1200px;
  border: 1.5px solid var(--main-bordercolor);
  border-radius: 20px;
  background-color: var(--main-bgcolor-white);
  padding: 40px 32px 32px;
  margin-bottom: 100px;
  background-image: url("../../images/service-grop.png");
  background-repeat: no-repeat;
  background-size: 386px 472px;
  background-position: calc(50% + 350px) calc(50% + 30px);
}

.service__inner__block-title {
  width: 100%;
  max-width: 590px;
  margin-bottom: 94px;
}

.service__inner__block-subtitle {
  width: 100%;
  max-width: 466px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: var(--main-color-black);
}

.service__inner__block-text {
  width: 100%;
  max-width: 590px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color-black);
}

.service__inner__block-list {
  width: 100%;
  max-width: 620px;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.service__inner__block-item-clean {
  position: relative;
}

.service__inner__block-item-clean::before {
  position: absolute;
  width: 17px;
  height: 24px;
  top: 26px;
  right: 24px;
  background-image: url("../images/service-clean.svg");
  background-repeat: no-repeat;
  content: "";
}

.service__inner__block-item-clean:hover::before {
  background-image: url("../images/himiya_hover.svg");
}

.dark .service__inner__block-item-clean::before {
  background-image: url("../images/himiya_hover.svg");
}

.dark .service__inner__block-item-masks::before {
  background-image: url("../images/heart_hover.svg");
}

.dark .service__inner__block-item-date::before {
  background-image: url("../images/cload_hover.svg");
}

.service__inner__block-item-masks:hover::before {
  background-image: url("../images/heart_hover.svg");
}

.service__inner__block-item-date:hover::before {
  background-image: url("../images/cload_hover.svg");
}

.service__inner__block-item-masks {
  position: relative;
}

.service__inner__block-item-masks::before {
  position: absolute;
  width: 24px;
  height: 18px;
  top: 26px;
  right: 24px;
  background-image: url("../images/service-heart.svg");
  background-repeat: no-repeat;
  content: "";
}

.service__inner__block-item-date {
  position: relative;
}

.service__inner__block-item-date::before {
  position: absolute;
  width: 24px;
  height: 19px;
  top: 26px;
  right: 24px;
  background-image: url("../../images/service-lock.svg");
  background-repeat: no-repeat;
  content: "";
}

.service__inner__block-item {
  width: 100%;
  max-width: 200px;
  padding: 79px 15px 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--main-color-f5);
  color: var(--main-color-black);
  border-radius: 16px;
}
.service__inner__block-item:nth-child(1) {
  margin-right: 10px;
}
.service__inner__block-item:nth-child(2) {
  margin-right: 10px;
  padding-top: 101px;
}

.service__inner__block-item:hover {
  background-color: var(--main-color-hover-green);
  color: var(--main-body-color);
  transition: 0.5s;
}

.dark .service__inner__block-item:hover {
  background-color: var(--main-color-hover-green);
  color: #fff;
  transition: 0.5s;
}

@media only screen and (min-width: 1207px) {
  .service__inner-block {
    margin-bottom: 160px;
  }
}
@media only screen and (max-width: 1128px) {
  .service__inner-block {
    background-size: 284px 372px;
    background-position: calc(50% + 350px) calc(50% + 80px);
  }
}
@media only screen and (max-width: 1032px) {
  .service__inner-block {
    background-size: 284px 372px;
    background-position: calc(50% + 350px) calc(50% + 80px);
  }
  .service__inner__block-title {
    max-width: 466px;
  }
  .service__inner__block-text {
    max-width: 466px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .service__inner__block-list {
    max-width: 420px;
  }
  .service__inner__block-item {
    max-width: 140px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }
  .service__inner__block-item:nth-child(1) {
    margin-right: 8px;
    padding: 69px 10px 8px;
  }
  .service__inner__block-item:nth-child(2) {
    margin-right: 8px;
    padding: 85px 10px 14px;
  }
  .service__inner__block-item:nth-child(3) {
    padding: 63px 10px 14px;
  }
  .service__inner-block {
    background-size: 284px 372px;
    background-position: calc(50% + 250px) calc(50% + 90px);
  }
}
@media only screen and (max-width: 820px) {
  .service__inner__block-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: space-around;
  }
  .service__inner__block-item {
    max-width: 700px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .service__inner-block {
    background-image: url("../../images/service-doira.png");
    background-size: 300px 300px;
    background-position: calc(50% + 350px) calc(50% - 270px);
  }
}
@media only screen and (max-width: 620px) {
  .service__inner__block-item {
    margin: 0;
    margin-bottom: 10px;
  }
  .service__inner__block-subtitle {
    max-width: 183px;
  }
  .service__inner__block-text {
    max-width: 321px;
  }
  .service__inner-block {
    background-image: url("../../images/service-doira.png");
    background-size: 300px 300px;
    background-position: calc(50% + 250px) calc(50% - 340px);
  }
}
@media only screen and (max-width: 480px) {
  .service__inner-block {
    background-image: url("../../images/service-doira.png");
    background-size: 300px 300px;
    background-position: calc(50% + 250px) calc(50% - 420px);
  }
  .service__inner__block-item {
    max-width: 318px;
    margin-right: 0;
  }
  .service__inner__block-item:nth-child(1) {
    padding: 69px 10px 8px;
  }
  .service__inner__block-item:nth-child(2) {
    padding: 85px 10px 14px;
  }
  .service__inner__block-item:nth-child(3) {
    padding: 63px 8px 14px 10px;
  }
}
.footer {
  border-top: 1.5px solid var(--main-bordercolor);
  padding: 20px 0;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.footer__logo-info {
  max-width: 200px;
  width: 100%;
}

.footer__logo {
  max-width: 100px;
  width: 100%;
  margin-bottom: 16px;
}

.footer__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  margin: 0;
  color: var(--main-color-55);
}

.footer__term {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--main-color-black);
}

.footer__lists {
  border-bottom: 1.5px solid var(--main-bordercolor);
}

.footer__list {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 40px;
}

.footer__box .footer__list:nth-last-of-type(1) {
  margin-right: 112px;
}

.footer__title {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--main-color-black);
}

.footer__link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 12px;
  color: var(--main-color-55);
  text-decoration: none;
  transition: 0.5s;
}

.footer__link::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background-color: var(--main-color-black);
  transition: 0.5s;
  content: "";
}

.footer__link:hover::before {
  width: 100%;
  height: 1.5px;
  color: var(--main-color-black);
}

.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list-none {
  display: none;
}

.footer__lists-none {
  display: none;
}

.footer__line {
  display: none;
}

.footer__bottom-desc {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 40px;
}

.footer__bottom-list {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__bottom-title {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--main-color-black);
}

.footer__bottom-link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 12px;
  color: var(--main-color-55);
  text-decoration: none;
  transition: 0.5s;
}

.footer__bottom-link::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background-color: var(--main-color-black);
  transition: 0.5s;
  content: "";
}

.footer__bottom-link:hover::before {
  width: 100%;
  height: 1.5px;
  color: var(--main-color-black);
}

.footer__netwwork-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin: 0;
}

.footer__network-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background-color: var(--main-color-black);
  border-radius: 100px;
  cursor: pointer;
}

.footer__network-link {
  fill: var(--main-footercolor-white);
}

.footer__network-item:hover:nth-of-type(1) {
  background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
}

.footer__network-item:hover:nth-of-type(2) {
  background-color: #55ace3;
}

.footer__network-item:hover:nth-of-type(3) {
  background-color: #0b84ee;
}

.footer__network-item:hover:nth-of-type(4) {
  background-color: #48c95f;
}

.footer__bottom-span {
  display: none;
}

.footer__terms {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color-black);
}

@media only screen and (min-width: 826px) {
  .footer {
    padding: 30px 0;
  }
  .footer__logo-info {
    max-width: 240px;
  }
  .footer__text {
    font-size: 12px;
  }
  .footer__logo {
    max-width: 150px;
    margin-bottom: 20px;
  }
  .footer__term {
    font-size: 16px;
    line-height: 24px;
  }
  .footer__lists {
    display: flex;
    justify-content: space-between;
  }
  .footer__info {
    margin-bottom: 30px;
  }
  .footer__box, .footer__block {
    display: none;
  }
  .footer__list-none {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer__bottom-wrapper {
    display: flex;
    align-items: center;
  }
  .footer__bottom-desc {
    margin-bottom: 0;
  }
  .footer__bottom-list {
    margin-right: 50px;
  }
  .footer__network {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1207px) {
  .footer {
    padding: 64px 0;
  }
  .footer__info {
    margin-top: -70px;
  }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .footer__term {
    display: none;
  }
  .footer__lists-none {
    display: block;
  }
  .footer__list-none {
    display: none;
  }
  .footer__info {
    margin-bottom: 0;
  }
  .footer__list {
    margin-bottom: 0;
  }
  .footer__line {
    display: block;
    margin-left: auto;
    max-width: 770px;
    width: 100%;
    height: 1.5px;
    background-color: var(--main-bordercolor);
  }
  .footer__bottom-span {
    display: block;
    margin-top: -20px;
    margin-right: 280px;
  }
}
.modal__box {
  display: flex;
  justify-content: center;
}

.modal {
  position: absolute;
  top: 200px;
  z-index: 9999;
  max-width: 390px;
  width: 100%;
  padding: 10px 16px 16px;
  background-color: #fff;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transform: translateY(-150%);
  transition: 1s;
}

.modal-js {
  transform: translateY(0);
}

.modal__close {
  position: absolute;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #f5f5f5;
  border-radius: 100px;
  cursor: pointer;
}

.modal__close-btn {
  background-image: url("../images/close-burger.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 9px;
  height: 9px;
  border: none;
  cursor: pointer;
}

.modal__hero {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 40px;
}

.modal__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 6px;
}

.modal__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 0;
  margin-bottom: 0;
  color: #555555;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  max-width: 526px;
  width: 100%;
  padding: 18px 0 18px 30px;
  background-color: #fff;
  border: 1.5px solid #e5e7ea;
  border-radius: 82px;
}

.modal__error {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-left: 20px;
  color: #ff3b30;
  opacity: 0;
}

.modal__input-email:not(:placeholder-shown):not(:focus):invalid {
  border: 1px solid #ff3b30;
}

.modal__input-email:not(:placeholder-shown):not(:focus):invalid + span {
  opacity: 1;
}

.modal__password {
  position: relative;
  margin-bottom: 32px;
}

.modal__password::before {
  position: absolute;
  top: 25px;
  right: 10%;
  background-image: url("../../images/modal-eyes.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 15px;
  content: "";
}

::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}

.modal__form-span {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 46px;
  color: #000;
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 18px 0;
  background-color: #299764;
  border-radius: 100px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.overlay__modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  transform: translateY(-150%);
  transition: 0.7s;
}

.overlay__modal-js {
  transform: translateY(0);
}

@media only screen and (min-width: 826px) {
  .modal {
    max-width: 590px;
    padding: 24px 32px 40px;
  }
  .modal__password {
    margin-bottom: 50px;
  }
  .modal__password::before {
    right: 7%;
  }
  .modal__title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  .modal__text {
    font-size: 16px;
    line-height: 24px;
  }
  .modal__hero {
    margin-bottom: 32px;
  }
  .modal__form-span {
    margin-bottom: 32px;
  }
}
.scroll__top {
  position: fixed;
  right: 10px;
  bottom: 40px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--main-color-green);
  border-radius: 100px;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.scroll__top:hover {
  background-color: var(--main-color-hover-green);
}

.scroll__top.active {
  right: 20px;
  opacity: 1;
}

@media only screen and (min-width: 1207) {
  .scroll__top {
    width: 70px;
    height: 70px;
  }
}/*# sourceMappingURL=main.css.map */