/* VARIABLES */
:root {
  --main-body-color:#ffffff;
  --main-bgcolor-white:#fff;
  --main-bghero-white:#fff;
  --main-color-black:#000;
  --main-color-f5:#f5f5f5;
  --main-color-green: #299764;
  --main-color-hover-green:#077743;
  --main-color-55:#555555;
  --main-bordercolor:#e5e7ea;
  --main-border-boottom-color:#e5e7ea;
  --main-color-google: #4285f4;
  --main-rgbcolor:linear-gradient(90deg, #EA4335 19.83%, #FBBC05 65%, #34A853 82.29%, #4285F4 100%);
  --main-ldginstagram: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
  --main-footercolor-white:#fff;
  --main-invalid: #ff3b30;
}

.dark {
  --main-body-color:#1C1C1C;
  --main-bgcolor-white:#1c1c1c;
  --main-color-black:#fff;
  --main-color-f5:#272727;
  --main-color-green: #299764;
  --main-color-55:#fff;
  --main-bordercolor:#333333;
  --main-border-boottom-color: #333333;
  --main-footercolor-white:#000;
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff");
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-500.woff") format("woff");
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-600.woff") format("woff");
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

::-moz-selection {
  background-color: darkcyan;
  color: gold;
}

::selection {
  background-color: darkcyan;
  color: gold;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  overflow-x: hidden;
  background-color: var(--main-body-color);
}

.site-main {
  flex-grow: 1;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}


.hero {
  position: relative;
}

.hero__carusel-block {
  width: 100%;
  margin: 0px 0px 40px 0px;
  max-width: 1200px;
  height: 500px;
  border-radius: 18px;
  padding-top: 60px;
  background-image: url("../../images/hero-malibu.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.hero-carusel-slike-activ {
  background-image: url("../../images/hero-ford.jpg");
}

.hero-carusel-slike-act {
  background-image: url("../../images/hero-gelik.jpg");
}

.hero__carusel__block-title {
  width: 256px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.hero__carusel__block-text {
  width: 416px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.hero__carusel__block-form {
  position: absolute;
  bottom: 0px;
  right: 30%;
  left: 30%;
  content: "";
}

.hero__carusel-lable {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding: 4px 2px 4px 30px;
}

.hero__carusel__input {
  width: 600px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
  outline: none;
  border: none;
}

.hero__carusel__svg-block {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  text-align: center;
  background-color: #299764;
  padding: 20px;
}

.hero__inner-block {
  margin-top: 100px;
  margin-bottom: 24px;
  width: 100%;
}

.hero__inner__block__title {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  max-width: 568px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #333;
}

.hero__inner__block-text {
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333;
}

.hero__inner__block-butten {
  width: 100%;
  text-align: center;
}

.hero__inner__block-btn-Compact {
  width: 150px;
  margin-right: 16px;
  padding: 19px 40px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: #FFFFFF;
  border: 1.5px solid #E5E7EA;
  color: #333;
  cursor: pointer;
}

.hero__inner__block-btn-Compact:hover {
  background: #F5F5F5;
  color: #333;
}

.hero__inner__block-btn-Compact:active {
  background-color: #299764;
  color: #fff;
}

.hero__inner__block-btn-Sports {
  width: 173px;
  margin-right: 16px;
  padding: 19px 30px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: #FFFFFF;
  border: 1.5px solid #E5E7EA;
  color: #333;
  cursor: pointer;
}

.hero__inner__block-btn-Sports:hover {
  background: #F5F5F5;
  color: #333;
}

.hero__inner__block-btn-Sports:active {
  background-color: #299764;
  color: #fff;
}

.hero__inner__block-btn-Vans {
  width: 119px;
  padding: 19px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: #FFFFFF;
  color: #333;
  border: 1.5px solid #E5E7EA;
}
.header {
  padding: 20px 0;
}

.header__logo-burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 150px;
  width: 100%;
  height: 40px;
}

.header__burger {
  background-image: url("../images/burger-open.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 40px;
  height: 22px;
  border: none;
  outline: none;
}

.header__close {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.header__close-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #f5f5f5;
  border-radius: 100px;
}

.header__close-btn {
  background-image: url("../images/close-burger.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 8px;
  height: 8px;
  border: none;
  outline: none;
}

.header__info {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  max-width: 350px;
  width: 100%;
  height: 100%;
  padding: 20px 20px 0;
  box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.15);
  background-color: var(--main-bgcolor-white);
  transform: translateX(150%);
  transition: 0.7s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  transform: translateX(150%);
  transition: 0.5s ease;
}

.overlay.shownav {
  transform: translateX(0);
}

.header__info.shownav {
  transform: translateX(0);
}

.header__list {
  padding-left: 0;
  list-style: none;
}

.header__link {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-color-black);
  text-decoration: none;
}

.header__item {
  margin-bottom: 32px;
}

.link__list {
  padding-left: 0;
  list-style: none;
}

.link__inker {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-color-55);
  text-decoration: none;
}

.link__item:nth-of-type(1) {
  margin-top: 20px;
  margin-bottom: 16px;
}

.link__item:nth-of-type(3) {
  margin-top: 16px;
}

.header__dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  margin-right: 16px;
  background-color: var(--main-color-f5);
  border-radius: 100px;
  cursor: pointer;
}

.hero__inner__block-btn-Vans:hover {
  background: #F5F5F5;
  color: #333;
}

.hero__inner__block-btn-Vans:active {
  background-color: #299764;
  color: #FFFFFF;
}

.hero__inner__compact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.hero__inner__compact-item {
  width: 100%;
  max-width: 387px;
  margin-bottom: 20px;
  padding: 30px 0px;
  background: #F5F5F5;
  border-radius: 16px;
  color: #333;
  list-style-type: none;
}

.hero__inner__compact-item:hover {
  color: #fff;
  background-color: #299764;
  transition: 0.3s;
}

.hero__inner__compact-title-block {
  padding: 0 24px;
}

.hero__inner__compact-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.hero__inner__compact-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.hero__inner__compact-img {
  margin-top: 16px;
  width: 387px;
}

.hero__inner__compact__service {
  display: flex;
  flex-wrap: wrap;
  padding: 0 24px;
}

.hero__inner__compact__service-seats {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.hero__inner__compact__service-seats:nth-child(1) {
  margin-right: 68px;
  margin-bottom: 24px;
}
.hero__inner__compact__service-seats:nth-child(2) {
  margin-bottom: 24px;
}
.hero__inner__compact__service-seats:nth-child(3) {
  margin-right: 56px;
}

.hero__inner__compact__icon {
  color: #333;
}

.hero__inner__compact-link-block {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 160px;
  text-align: center;
}

.hero__inner__compact-link {
  display: block;
  text-decoration: none;
  width: 173px;
  margin: 0 auto;
  padding: 18px 30px;
  background: #FFFFFF;
  border: 1.5px solid #E5E7EA;
  border-radius: 100px;
  color: #000000;
}

.hero__inner__compact-link:hover {
  background: #F5F5F5;
}

.hero__inner__compact-link:active {
  background: #299764;
  color: #fff;
}

.hero__inner__compact__icon {
  margin-right: 15px;
}

.hero__inner__list-ports {
  display: none;
}

.hero__inner__list-Vans {
  display: none;
}

@media only screen and (max-width: 1207px) {
  .hero__inner__compact-list {
    justify-content: space-around;
  }
  .hero__inner__compact-item {
    margin: 0px 5px 20px 5px;
  }
}
@media only screen and (max-width: 1120px) {
  .hero__carusel-block {
    width: 100%;
    margin: 0px 0px 40px 0px;
    max-width: 1120px;
    height: 500px;
    border-radius: 18px;
    padding-top: 60px;
    background-image: url("../../images/hero-malibu-table.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
  }
  .hero-carusel-slike-activ {
    background-image: url("../../images/hero-ford.jpg");
  }
  .hero-carusel-slike-act {
    background-image: url("../../images/hero-gelik.jpg");
  }
  .hero__carusel__block-title {
    width: 256px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
  }
  .hero__carusel__block-text {
    width: 416px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__carusel__block-form {
    position: absolute;
    bottom: 0px;
    right: 10%;
    left: 10%;
    content: "";
  }
  .hero__carusel-lable {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 4px 2px 4px 30px;
  }
  .hero__carusel__input {
    width: 100%;
    max-width: 600px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #555555;
    outline: none;
    border: none;
  }
  .hero__carusel__svg-block {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    text-align: center;
    background-color: #299764;
    padding: 20px;
  }
}
@media only screen and (max-width: 630px) {
  .hero__carusel-block {
    width: 100%;
    margin: 0px 0px 40px 0px;
    max-width: 600px;
    height: 300px;
    border-radius: 18px;
    padding-top: 60px;
    background-image: url("../../images/hero-malibu-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
  }
  .hero__carusel__block-title {
    width: 171px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }
  .hero__carusel__block-text {
    width: 283px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__carusel__block-form {
    position: absolute;
    bottom: 0px;
    right: 2%;
    left: 2%;
    content: "";
  }
  .hero__carusel-lable {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 4px 2px 4px 30px;
  }
  .hero__carusel__input {
    width: 600px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #555555;
    outline: none;
    border: none;
  }
  .hero__carusel__svg-block {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    text-align: center;
    background-color: #299764;
    padding: 18px;
  }
  .hero__inner__block__title {
    text-align: center;
    max-width: 232px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
  .hero__inner__block-text {
    max-width: 321px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #555555;
  }
  .hero__inner__block-btn-Compact {
    max-width: 106px;
    padding: 14px 20px;
    margin-right: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
  .hero__inner__block-btn-Sports {
    max-width: 119px;
    padding: 14px 10px;
    margin-right: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
  .hero__inner__block-btn-Vans {
    max-width: 75px;
    padding: 14px 20px;
    margin-right: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}
.header__login {
  position: absolute;
  bottom: 0;
  right: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__dark-btn {
  background-image: url("../images/light-mode.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.header__dark:hover .header__dark-btn {
  background-image: url("../images/light-hover.svg");
}

.dark .header__dark:hover .header__dark-btn {
  background-image: url("../../images/dark-icon.svg");
}

.header__dark:active .header__dark-btn {
  background-image: url("../images/ligt-active.svg");
}

.header__dark:active {
  background-color: var(--main-color-green);
}

.header__dark-btn.shownav {
  background-image: url("../images/dark-icon.svg");
  width: 20px;
  height: 20px;
}

.header__login-regis {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 18px 30px;
  background-color: var(--main-color-green);
  color: #fff;
  border-radius: 100px;
  text-decoration: none;
  transition: 0.5s;
}

.header__login-regis:hover {
  background-color: var(--main-color-hover-green);
}

.header__login-regis:hover {
  background-color: var(--main-color-hover-green);
}

.header__login-icon {
  margin-left: 10px;
}

.header__login-tel {
  display: none;
}

.dropdown {
  display: none;
}

@media only screen and (min-width: 794px) {
  .header {
    padding: 27px 0;
  }
  .header__info {
    max-width: 475px;
    padding: 33px 24px 0 30px;
  }
  .header__link {
    font-size: 28px;
    line-height: 34px;
  }
  .header__item {
    margin-bottom: 52px;
  }
  .header__tel {
    display: none;
  }
  .header__login-tel {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-right: 51px;
    color: var(--main-color-black);
    text-decoration: none;
  }
  .header__close {
    margin-bottom: 78px;
  }
}
@media only screen and (min-width: 1232px) {
  .header__info {
    display: flex;
    position: static;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    max-width: max-content;
    transform: translateX(0);
  }
  .header__wrapper {
    display: flex;
  }
  .header__burger {
    display: none;
  }
  .overlay {
    display: none;
  }
  .header__item {
    margin-bottom: 0;
  }
  .link__list {
    display: none;
  }
  .header__close {
    display: none;
  }
  .header__login {
    position: static;
    margin-bottom: 0;
    margin-left: 180px;
  }
  .header__login-tel {
    margin-right: 24px;
  }
  .header__item {
    position: relative;
    margin-right: 32px;
  }
  .header__item:nth-of-type(2) {
    margin-right: 62px;
  }
  .header__item:nth-of-type(2)::before {
    position: absolute;
    right: -20px;
    top: 8px;
    background-image: url("../images/dropdown-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 10px;
    transition: 0.5s;
    content: "";
  }
  .dark .header__item:nth-of-type(2)::before {
    background-image: url("../images/arrow-activ-header.svg");
  }
  .dark .header__item:nth-of-type(3)::before {
    background-image: url("../images/arrow-activ-header.svg");
  }
  .header__item:nth-of-type(2):hover::before {
    transform: rotate(180deg);
  }
  .header__item:nth-of-type(3):hover::before {
    transform: rotate(180deg);
  }
  .header__item:nth-of-type(3)::before {
    position: absolute;
    right: -20px;
    top: 8px;
    background-image: url("../images/dropdown-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 10px;
    transition: 0.5s;
    content: "";
  }
  .dropdown {
    position: absolute;
    z-index: 999;
    width: 140px;
    padding-left: 0;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 10px;
    list-style: none;
    background-color: var(--main-bgcolor-white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: none;
  }
  .dropdown-two {
    padding-bottom: 0;
  }
  .header__item:hover .dropdown {
    display: block;
  }
  .dropdown__item {
    margin-bottom: 36px;
  }
  .dropdown__item:nth-of-type(3) {
    margin-bottom: 0;
  }
  .dropdown__link-contact {
    margin-bottom: 0;
  }
  .dropdown__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 12px 15px;
    color: var(--main-color-black);
    text-decoration: none;
    transition: 0.5s;
  }
  .dropdown__link:hover {
    background-color: var(--main-color-f5);
    border-radius: 100px;
  }
  .dropdown__link:active {
    background-color: var(--main-color-green);
    color: #fff;
  }
  .header__list {
    display: flex;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .header__link {
    font-size: 18px;
    line-height: 22px;
  }
  .header__logo {
    margin-right: 36px;

  }
}
