.hero{ 
    position: relative;
} 


.hero__carusel-block{ 
    width: 100%;
    margin: 0px 0px 40px 0px;  
    max-width: 1200px;
    height: 500px;
    border-radius: 18px;
    padding-top: 60px;
    background-image: url("../images/hero_malibu.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    
    
    
}  
.hero-carusel-slike-activ{ 
    background-image: url("../images/hero__ford.png"); 
}
.hero-carusel-slike-act{ 
    background-image: url("../images/hero_gelik.png");  
}

.hero__carusel__block-title{
    width: 256px; 
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
} 
.hero__carusel__block-text{ 
    width: 416px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
} 

.hero__carusel__block-form{ 
    
    position: absolute;
    bottom: 0px;
    right: 30%;
    left: 30%;
    content: ''; 
} 
.hero__carusel-lable{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 4px 2px 4px 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    
}
.hero__carusel__input{ 
    max-width: 600px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #555555;
    outline: none;
    border: none;
} 

.hero__carusel__svg-block{ 
    width: 58px;
    height: 58px;
    border-radius: 50%; 
    text-align: center;
    background-color: #299764;
    padding: 20px;
}  

// -------------------------------------------hero inner start stayl-------------------------------------------

.hero__inner-block{ 
    margin-top: 100px;
    margin-bottom: 24px;
    width: 100%; 
    
} 
.hero__inner__block__title{
    margin: 0 auto;  
    margin-bottom: 10px;
    width: 100%;
    max-width: 568px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: var(--main-color-black);
    
} 

.hero__inner__block-text{ 
    width: 100%;
    max-width: 575px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--main-color-55);
}

.hero__inner__block-butten{ 
    width: 100%;
    text-align: center;
    
}
.hero__inner__block-btn-Compact{ 
    
    width: 150px;
    margin-right: 16px;
    padding: 19px 40px;
    border-radius: 100px; 
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background: #FFFFFF;
    border: 1.5px solid #E5E7EA;
    color: #333;
    cursor: pointer;
}  

.hero__inner__block-btn-Sports{ 
    
    width: 173px;
    margin-right: 16px;
    padding: 19px 30px;
    border-radius: 100px; 
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background: #FFFFFF;
    border: 1.5px solid #E5E7EA;
    color: #333; 
    cursor: pointer; 
}  

.hero__inner__block-btn-Vans{ 
    
    width: 119px;
    padding: 19px 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background: #FFFFFF;
    color: #333;
    border: 1.5px solid #E5E7EA;
    border-radius: 100px;
    cursor: pointer;   
} 


.hero__inner__compact-list{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
} 
.hero__inner__compact-item{ 
    width: 100%;
    max-width: 387px; 
    margin-bottom: 20px;
    padding: 30px 0px;
    background-color:var( --main-color-f5);
    border-radius: 16px;
    list-style-type: none;
    cursor: pointer;
}  
.hero__inner__compact-item:hover{  
    background-color:var(--main-color-green) ;
    transition: 0.5s;
} 

.hero__inner__compact-item:hover .hero__inner__compact-title {
    color: var(--main-bghero-white);
}
.hero__inner__compact-item:hover .hero__inner__compact-text {
    color: var(--main-bghero-white);
}
.hero__inner__compact-item:hover .hero__inner__compact__service-seats {
    color: var(--main-bghero-white);
}

.hero__inner__compact-title-block{ 
    padding: 0 24px;
}
.hero__inner__compact-title{ 
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px; 
    color: var(--main-color-black);
}
.hero__inner__compact-text{ 
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-color-55);
} 
.hero__inner__compact-img{ 
    margin-top: 16px;
    max-width: 387px;
    width: 100%;
} 

.hero__inner__compact__service{ 
    display: flex; 
    flex-wrap: wrap;
    padding: 0 24px;
}  
.hero__inner__compact__service-seats{ 
    font-weight: 500;
    font-size: 16px;
    line-height: 20px; 
    color: var(--main-color-black);
    &:nth-child(1){ 
        margin-right: 68px;
        margin-bottom: 24px;
    } 
    &:nth-child(2){ 
        
        margin-bottom: 24px;
    }
    &:nth-child(3){ 
        margin-right: 56px;
        
    }
}  

.hero__inner__compact__icon{ 
    color: #333;
} 
.hero-js-icon{ 
    color: #fff;
}

.hero__inner__compact-link-block{ 
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 160px;
    text-align: center;
} 
.hero__inner__compact-link{ 
    display: block;
    text-decoration: none;
    width: 173px;
    margin: 0 auto;
    padding: 18px 30px; 
    background: #299764;
    color: #fff;
    border-radius: 100px;
    
}

.hero__inner__compact__icon{ 
    margin-right: 15px;
} 

.hero__inner__list-ports{ 
    display: none;
    
} 
.hero__inner__list-Vans{ 
    display: none;
}

.slick-prev , .slick-next {
    display: none !important;
    transition: 0.5s;
}

.slick-next:hover::before{
    background-image: url("../images/right-arrow-hover.svg");
}

.slick-next:active{
    background-color: #299764 !important;
}
.slick-prev:active{
    background-color: #299764 !important;
}

.slick-prev:hover::before{
    background-image: url("../images/hero-left-arrow.svg");
}



.slick-dots {
    top: 71%;
    left: -1%;
}

.slick-dots li button:before {
    content: none;
}

.slick-dots li button {
    width: 8px;
    height: 8px;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 100px;
    transition: 0.5s;
}

.slick-dots li button:focus{
    width: 30px;
    opacity: 1;
}

.slick-dots li {
    margin: 0 8px;
}

// ---------------------------------------------hero inner end stayl-------------------------------------------
@media only screen and( max-width:1207px){ 
    
    .hero__inner__compact-list{ 
        
        justify-content: space-around;
    }  
    .hero__inner__compact-item{  
        margin: 0px 5px 20px 5px;
    }
    
}


@media only screen and(max-width:1120px){
    
    .hero__carusel-block{ 
        width: 100%;
        margin: 0px 0px 40px 0px;  
        max-width: 1120px;
        height: 500px;
        border-radius: 18px;
        padding-top: 60px;
        background-image: url("../images/hero_malibu.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center; 
    }
    .hero-carusel-slike-activ{ 
        
        background-image: url("../images/hero__ford.png"); 
    }
    .hero-carusel-slike-act{ 
        
        background-image: url("../images/hero_gelik.png");  
    } 
    
    .hero__carusel__block-title{
        width: 256px; 
        margin: 0 auto;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
    } 
    .hero__carusel__block-text{ 
        width: 416px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    } 
    
    .hero__carusel__block-form{ 
        position: absolute;
        bottom: 0px;
        right: 10%;
        left: 10%;
        content: ''; 
    } 
    .hero__carusel-lable{ 
        padding: 4px 2px 4px 30px;
    }
    .hero__carusel__input{ 
        max-width: 600px;
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #555555;
        outline: none;
        border: none;
    } 
    
    .hero__carusel__svg-block{ 
        width: 58px;
        height: 58px;
        border-radius: 50%; 
        text-align: center;
        background-color: #299764;
        padding: 20px;
    } 
    
}  

@include mobile-first (630px){
    .slick-dots {
        top: 79%;
    }
}

@include mobile-first (826px){
    
    .slick-prev , .slick-next {
        display: block !important;
        position: absolute;
        z-index: 2;
        width: 36px;
        height: 36px;
        background-color: #fff;
        border-radius: 100px;
    }
    
    .slick-prev {
        left: 87%;
        top: 445px !important;
    }
    
    .slick-prev::before{
        position: absolute;
        top:14px;
        left: 15px;
        width: 5px;
        height: 8px;
        background-image: url(../images/hero-left-arrow.svg);
        content: "";
    }
    .slick-next::before{
        position: absolute;
        top:14px;
        left: 15px;
        width: 5px;
        height: 8px;
        background-image: url(../images/hero-rigth-arrow.svg);
        content: "";
    }
    
    .slick-next {
        top: 445px !important;
        right: 3%;
    }
    
    .slick-next:hover {
        background-color: #fff;
    }
    .slick-prev:hover {
        background-color: #fff;
    }
    .slick-next:focus {
        background-color: #fff;
    }
    .slick-prev:focus {
        background-color: #fff;
    }
    
    
    .slick-dots {
        top: 80%;
        left: -40%;
    }
    
}

@include mobile-first(950px){
    .slick-next {
        right: 4% !important;
    }
}

@include mobile-first(1207px){
    
    .slick-prev {
        left: 89.5% !important;
    }
    
    .slick-next{
        right: 3% !important;
    }
    
    .slick-dots {
        top: 81%;
        left: -42%;
    }
    
}

@media only screen and(max-width:630px){
    
    .hero__carusel-block{ 
        width: 100%;
        margin: 0px 0px 40px 0px;  
        max-width: 600px;
        height: 300px;
        border-radius: 18px;
        padding-top: 60px;
        background-image: url("../images/hero_malibu.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    } 
    
    .hero__carusel__block-title{
        width: 171px; 
        margin: 0 auto;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    } 
    .hero__carusel__block-text{ 
        width: 283px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
    } 
    
    .hero__carusel__block-form{ 
        position: absolute;
        bottom: 0px;
        right: 2%;
        left: 2%;
        content: ''; 
    } 
 
    .hero__carusel__input{ 
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #555555;
        outline: none;
        border: none;
    } 
    
    .hero__carusel__svg-block{ 
        width: 52px;
        height: 52px;
        border-radius: 50%; 
        text-align: center;
        background-color: #299764;
        padding: 18px;
    }  
    .hero__inner__block__title{ 
        text-align: center;
        max-width: 232px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: var(--main-color-black);
    } 
    .hero__inner__block-text{ 
        max-width: 321px;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: var(--main-color-55);
    } 
    .hero__inner__block-btn-Compact{ 
        
        max-width: 106px;
        padding: 14px 20px;
        margin-right: 14px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    } 
    .hero__inner__block-btn-Sports{ 
        
        max-width: 119px;
        padding: 14px 10px;
        margin-right: 14px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        width: 600px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #555555;
        outline: none;
        border: none;
    } 
    
    .hero__carusel__svg-block{ 
        width: 52px;
        height: 52px;
        border-radius: 50%; 
        text-align: center;
        background-color: #299764;
        padding: 18px;
    }  
    .hero__inner__block__title{ 
        text-align: center;
        max-width: 232px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    } 
    .hero__inner__block-text{ 
        max-width: 321px;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #555555;
    } 
    .hero__inner__block-btn-Compact{    
        width: 600px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #555555;
        outline: none;
        border: none;
    } 
    .hero__inner__block-btn-Sports{
        max-width: 106px;
        padding: 14px 20px;
        margin-right: 14px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    } 
    .hero__inner__block-btn-Sports{ 
        
        
        max-width: 119px;
        padding: 14px 10px;
        margin-right: 14px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        
        
    }
    .hero__inner__block-btn-Vans{ 
        max-width: 75px;
        padding: 14px 20px;
        margin-right: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        
    }
    
} 



.hero__inner__block-btn-Vans{ 
    max-width: 75px;
    padding: 14px 20px;
    margin-right: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

