.scroll__top {
    position: fixed;
    right: 10px;
    bottom: 40px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--main-color-green);
    border-radius: 100px;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
}

.scroll__top:hover {
    background-color:var(--main-color-hover-green);
}

.scroll__top.active {
    right: 20px;
    opacity: 1;
}

@include mobile-first(1207) {

    .scroll__top {
        width: 70px;
        height: 70px;
    }

}